# Turn debug mode on/off, default to False
export DEBUG=True

# The host the app runs on
# Without the leading http(s?):// neither trailing slash
# This is required for Floyd jobs results to be processed properly
export APP_HOST="example.com"

# App environment (used to initialize Sentry)
export APP_ENV="development"

# Python executable path
export PYTHON_PATH="/bin/python"

# Color of the slice that's added to the style image
export COLORED_SLICE_COLOR="#00ff00"

# Colored slice's width in percent (relative to the style image's width)
export COLORED_SLICE_WIDTH=.05

# Google API service account file path
export GOOGLE_APPLICATION_CREDENTIALS="service-account.json"

# Full path to pixelsort entry point
export PIXEL_SORT_PATH="/pixelsort/pixelsort.py"

# Debug log file
# export LOG_FILE="/debug.log"

# Sentry DSN
# https://docs.sentry.io/platforms/python/django/
export SENTRY_DSN=""

# Static files root dir
STATIC_ROOT=""

# Deep AI API root URL
export DEEPAI_API_ROOT="https://api.deepai.org/api"

# Deep AI API key
# https://deepai.org/dashboard
export DEEPAI_API_KEY=""

# App secret
SECRET_KEY=""

# Redis server password
REDIS_PASSWORD=""

# Twitter API keys
export TWITTER_CONSUMER_KEY=
export TWITTER_CONSUMER_SECRET=
export TWITTER_ACCESS_TOKEN_KEY=
export TWITTER_ACCESS_TOKEN_SECRET=