<ul>
  {% for image in images %}
  <li>
    <img src="{{ image.neural_output_file.url }}" />
  </li>
  {% endfor %}
</ul>

<div class="pagination">
  <span class="step-links">
    {% if images.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ images.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ images.number }} of {{ images.paginator.num_pages }}.
    </span>

    {% if images.has_next %}
    <a href="?page={{ images.next_page_number }}">next</a>
    <a href="?page={{ images.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
