<table>
  {% for artwork in artworks %}
  <tr>
    <td>
      <div>
        <img class="thumbnail" src="{{ artwork.input_file.url }}" /> +
        <img class="thumbnail" src="{{ artwork.colored_file.url }}" />
      </div>
    </td>
    <td>
      <img src="{{ artwork.neural_output_file.url }}" />
    </td>
  </tr>
  {% endfor %}
</table>

<div class="pagination">
  <span class="step-links">
    {% if artworks.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ artworks.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ artworks.number }} of {{ artworks.paginator.num_pages }}.
    </span>

    {% if artworks.has_next %}
    <a href="?page={{ artworks.next_page_number }}">next</a>
    <a href="?page={{ artworks.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

<style lang="css">
  img {
    max-width: 100%;
  }
  img.thumbnail {
    max-width: 120px;
    max-height: 120px;
  }
</style>
