<table>
  {% for image in images %}
  <tr>
    <td class="info">
      <div>
        <img class="thumbnail" src="{{ image.input_file.url }}" /> +
        <img class="thumbnail" src="{{ image.style_file.url }}" />
      </div>
      <ul>
        <li>--iterations: {{ image.st_iterations }}</li>
        <li>--style-layer-weight-exp: {{ image.st_style_layer_weight_exp }}</li>
        <li>--content-weight-blend: {{ image.st_content_weight_blend }}</li>
        <li>--pooling: {{ image.st_pooling }}</li>
        <li>--preserve-colors: {{ image.st_preserve_colors }}</li>
      </ul>
    </td>
    <td>
      <img src="{{ image.neural_output_file.url }}" />
    </td>
  </tr>
  {% endfor %}
</table>

<div class="pagination">
  <span class="step-links">
    {% if images.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ images.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ images.number }} of {{ images.paginator.num_pages }}.
    </span>

    {% if images.has_next %}
    <a href="?page={{ images.next_page_number }}">next</a>
    <a href="?page={{ images.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

<style lang="css">
  img {
    max-width: 100%;
  }
  img.thumbnail {
    max-width: 120px;
    max-height: 120px;
  }
</style>
